.icon-bar > * label {
    color: #4A4A4A; }
.icon-bar > * i {
    color: #4A4A4A; }
.icon-bar{
    background:#fff;   
}
.icon-bar > a:hover{
    background: none;
}
.icon-bar > a:hover i{
    color: #2ba6cb;
}
.icon-bar > a:hover label{
    color: #2ba6cb;
}

.sub-nav dd.active a{
    padding: 1rem;   
}
.fa-1-3x {
    font-size: 1.3em;
}
.button{
    background-color: transparent;
    color: #4A4A4A;
    border: solid #4A4A4A;
    border-width: thin;
}
.top-bar {
  background: #ffffff;   
}
 .tabs .tab-title > a {
  display: block;
  background-color: transparent; 
  color: #222222;
  padding: 1rem 2rem;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1rem;
}
.tabs .tab-title.active a {
  background-color: #FFFFFF;
  color: #222222;
}
.tabs dd > a:hover, .tabs .tab-title > a:hover {
  background-color: transparent
}

